#restaurant-page {
  ion-fab-button {
    width: 36px;
    height: 36px;
    --background: #fff;
    --background-hover: #f4f7f8;
    --background-activated: #f4f7f8;
    --background-focused: #fff;
    margin-bottom: 8px;
    margin-right: 16px;
  }

  .swiper-slide {
    width: calc(100% - 20px) !important;
    height: 240px;
  }

  .fab-btn-group {
    position: absolute;
    right: 0;
    top: -96px;
  }

  .map-search-field .search-input {
    padding: 12px 16px;
  }
}

#search-modal {
  ion-toolbar {
    --background: #fff;
    --padding-start: 0;
    --padding-end: 0;
    --border-width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .map-search-field .search-input {
    padding: 12px 16px;
  }
}

#main-bottom-modal {
  --border-radius: 16px;
  ion-content {
    --padding-top: 24px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
}
